h1 {
  font-family: "mont-serrat", sans-serif;
  font-size: clamp(1.5rem, 5.4795vw + -0.137rem, 5rem);
}
h2 {
  font-family: "poppins", sans-serif;
  /*font-size: clamp(1rem, 1.5656 + 0.5323rem, 2rem);*/
}
h3 {
}
h4 {
}
h5 {
}
h6 {
}
